header{
    width: 100%;
    background-color: #fff;
}
a{
    text-decoration: none;
}
header .photo{
    width: 100%;
    height: 30%;
}
header .photo .photo_wall{
    width: 100%;
    height: 150px;
    position: relative;
}
photo .photo_wall img{
    width: 100%;
    height: 60%;
}
.photo  #headimg{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    text-align: center;
    display: block;
    position: absolute;
    top: 7em;
    left: 37%;
}
header .photo .username{
    width: 100%;
    font-size: 2rem;
    font-family:'楷体';
    display: inline-block;
    float: left;
    margin:  5rem auto 1rem;
    text-align: center;
}
.photo .edit{
    width: 28%;
    height: 5%;
    border: 1.1px solid #337ab7;
    text-align: center;
    display: inline-block;
    border-radius: 0.5rem;
    margin-left: 36.5%;
    margin-bottom: 1.5rem;
}
.photo .edit a{
    font-size: 1.3rem;
    text-align: center;
    line-height: 3rem;
    display: block;
    font-weight: 600;
    font-family:'宋体';
    text-decoration: none;
}
.follow{
    width: 100%;
    height: 5rem;
    background-color: #fff;
}
.follow ul li{
    width: 50%;
    height: 20%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1.5rem;
}
.follow ul li:first-child{
    width: 50%;
    height: 20%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1.5rem;
    border-right: 1px solid #ccc;
}
.follow li span{
    font-size: 13px;
    font-weight: 550;
    margin-left: 0.5rem;
}
.follow li a{
    display: inline;
    color: #9b9b9b;
    font-size: 1.3rem;
}
.list{
    padding-bottom: 7rem;
}
#backgroundimg{
    padding: 1.5px;
    margin-left: 10px;
    float: left;
    font-size: 12px;
    background-color: #faebd700;
    margin-top: -62px;
    color: #fff;
}
/* 个人信息编辑页 */
header{
    width: 100%;
    height: 20%;
    background-color: #fff;
    display: block;
    margin-bottom: 1.2rem;
}
header .return img{
    width: 1.1rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    float: left;
    text-align: center;
    position: absolute;
}
header span{
    font-size:1em;
    font-weight: 550;
    display: inline-block;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
}
/* 信息列表 */
.edit_list{
    width: 100%;
    background-color: #fff;
    padding-bottom: 20rem;
}
.edit_list .set_head{
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 2rem;
}
.set_head .avator-sm img{
    width: 8rem;
    height: 8rem;
    border-radius:4rem;

}
.edit_list ul li{
    width: 100%;
    /* height: 50%; */
    /* border-bottom: 1px solid #f0ebeb; */
    list-style: none;
}
.set_head .button{
    display: block;
    background-color: #00baf0;
    border: 1px solid transparent; 
    outline: none;
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    vertical-align: middle;
    margin: 2rem auto;
    color: #fff;
}
.edit_list li .info-row{
    height: 8rem;
    margin-left: 3rem;
    margin-right: 2rem;
    line-height: 2.5rem;
    display: block;
    font-size:1.5rem;
    text-align: left;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.edit_list .info-row .info-row-text{
    border: none;
    outline:none;
    display: block;
    margin-bottom: 1rem;   
    width: 100%;
    height: 2rem;
    margin-top: -1rem;
    color: #474747;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
}
.savebtn {
   width: 50%;
   height: 4rem;
   color: #fff;
   font-size: 19px;
   line-height: 4rem;
   text-align: center;
   margin-top: 3rem;
   margin-left: 25%;
   background-color:#409eff;
   font-family: 'Courier New', Courier, monospace;
}

/* 我关注的人 */
.myfollow_list{
    background-color: #fff;
    margin-top: 1rem;
    border-top: 1px solid #eee;
}
.myfollow_list ul li{
    width: 100%;
    height: 8rem;
    list-style: none;
    border-bottom: 1px solid #eeeeeea3;
}
.userlist #head{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    float: left;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}
.userlist .information{
    float: left;
    margin-left: 3rem;
}
.information .hisfollow i,.information .hisimg i{
    font-size: 0.5rem;
    color: #9b9b9b;
    font-style:normal;
    margin-right: 0.5rem;
}
.information .hisfollow img,.information .hisimg img{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}
.information .hisfollow,.information .hisimg{
    margin-right: 1rem;
}
.userlist .information .username{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
    font-weight: 600;   
}
.userlist .followicon{
    display: inline-block;
    /* color: #42c02e; */
    font-size: 1.2rem;
    font-weight: 600;
    color: #ccc;
    float: right;
    margin-right: 1.5rem;
    margin-top: 3rem;
}
/* 我的作品 */
.myarticlebody{
    height: 100px;
}