header{
    width: 100%;
    height: 20%;
    background-color: #fff;
    display: block;
    margin-bottom: 1.2rem;
}
header .return img{
    width: 1.1rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    float: left;
    text-align: center;
    position: absolute;
}
header .search img{
    width: 2rem;
    height: 2rem;
    margin-top: -3.2rem;
    margin-right: 1rem;
    float: right;
    text-align: center;
    z-index: 100;
}
header span{
    font-size:1em;
    font-weight: 550;
    display: inline-block;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
}
.search_basis{
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #fff;
}
.collect_conten{
    width: 94.5%;
    margin: 1.1rem auto; 
    background-color: #fff;
}
.collect_conten .collect_img img{
    border-radius: none;
    width: 100%;
    height: 60%;
}
.collect_conten li .user {
    padding-bottom: 1rem;
}
.collect_conten .line{
   width: 94%;
   height: 1px;
}




